@charset "UTF-8";

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100%vh;
    width: 100%vw;
    margin: auto;
    padding: 0;
}

header{
    padding: 20px;
    height: 100%vh;
    width: 100%vw;
    text-align: center;
    background-color: #1B252F;
}

header > h1{
    color: white;
    font-weight: bolder;
}

header > p{
    color: white;
}


nav{ 
    background-color: red;
    text-align: center;
    padding: 10px;
    margin: auto;
    text-align: justify;
}

nav > a {
    border-top: 2px solid #923636;
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
}

a:hover{
    background-color: #aa5e5e;
    color: white;
}

#descricao{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(imagens/background-3.jpg);
    width: auto;
    height:1000px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

}

#descricao > h1 {
    padding-top: 33px;
    color: red;
    text-align: center;
    font-weight: bolder;
}

#descricao > p {
    font-family: arial;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding-top: 123px;
    padding-bottom: 30px;
    margin: 37px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   .ad-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   }
   
   .ad-motorcycle, .ad-car {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    width: 80%;
    box-shadow: 2px 0px rgba(0, 0, 0, 0.178);
   }
   
   .ad-name {
    background-color: red;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
   }
   
   .ad-info {
    font-weight: bolder;
       text-align: center;
       margin-bottom: 5px;
    color: #333;
   }
   
   img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
   }
   
   @media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
   }

   #contatos > h1{
    text-align: center;

   }

   .contacts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   
   .contact-info {
    padding: 20px;
    background-color: #1B252F;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   }
   
   .contact-info h2 {
    text-align: center;
    margin-bottom: 10px;
   }
   
   .contact-info p {
    text-align: center;
   }
   
   .social-media {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
   }
   
   .social-media-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
   }
   
   .social-media-icon img {
    width: 30px;
    height: 30px;
   }
   
   .social-media-icon span {
    margin-top: 5px;
   }
   
   .contact-info h2,p{
       color: white;
   }
   
   .contact-info a {
       color: white;
   }
   
   .contact-info a:hover{
       background-color: #f0f0f0;
       border-radius: 5px;
       transition-duration: 0.5s;
       color: black;
   }


   .container {
    display: flex;
    align-items: center;
    border: 1px solid hsla(0, 0%, 0%, 0.322);
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
   }
   
   .container h2 {
    margin: 0;
   }
   
   .container .content {
    margin-left: 20px;
   }
   
   .container .content p{
       color: black;
       
   }

   .footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
 }

.footer p {
    color: black;
}
                    